POSTGRES_USER=your_secure_user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=vitalsync_db

# Configuration potentielle pour le backend
DATABASE_URL=postgresql://your_secure_user:your_secure_password@database:5432/vitalsync_db

NODE_ENV=development